@import "../../styles/vars";

.add-questionnaire {
  display: inline-block;
  height: 20px;

  .add-questionnaire-form {
    display: flex;
  }

  .add-questionnaire-button-container {
    display: flex;
  }

  .edit-text-input {
    border-color: $input-border;
  }
}