@import "../styles/bootstrap";

.edit-text {
  .edit-text-input {
    background: none;
    border: 1px solid transparent;
    padding: 0;
    width: 100%;

    &:hover, &:focus {
      border-color: $input-border;
      outline: none;
    }
  }
}