@import "../styles/vars";

.menu {
  padding-left: 0;

  .navbar-auth {
    height: $navbar-height;
    text-align: right;
  }

  .navbar-username {
    align-items: flex-end;
    color: gray;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    .glyphicon {
      font-size: 22px;
    }

    .username {
      padding-left: 5px;
    }

    .logout {
      cursor: pointer;
      font-size: 12px;

      a {
        color: gray;
      }
    }
  }
}

